body {
  animation: ease-in;
  transition: 1s;
}

body.dark {
  background-color: var(--darker);
  animation: ease-in;
  transition: 1s;
}

body.dark .wrap {
  background-color: var(--dark);
  animation: ease-in;
  transition: 1s;
}

body.dark h1 {
  color: var(--lighter);
}

body.dark h3 {
  color: var(--lighter);
}

body.dark p {
  color: var(--lighter);
}

body.dark span {
  color: var(--lighter);
}

body.dark .project {
  background-color: var(--light);
}

body.dark .project p {
  color: var(--dark);
}

body.dark .project h3 {
  color: var(--dark);
}

body.dark .project span {
  color: var(--dark);
}

body.dark .about-content .row-4 {
  background-color: var(--light);
}

body.dark .projects-content .row-3 ul li {
  background-color: var(--lighter);
}

body.dark footer #github-logo img {
  background-color: var(--light);
  padding: 2px;
  margin: 10px;
  border-radius: 50px;
}
